$NetBSD$

--- deps/riak_jmx/rebar.config.orig	2012-05-10 22:09:08.723177208 +0000
+++ deps/riak_jmx/rebar.config
@@ -5,3 +5,6 @@
 
 {compile_post_script, "make -C java_src"}.
 {clean_post_script, "make -C java_src clean"}.
+
+{post_hooks, [{compile, "make -C java_src"},
+              {clean, "make -C java_src clean"}]}.
